@import 'bootstrap/dist/css/bootstrap.min.css';
.App {
  text-align: center;
}

.App-logo {
  height: 500px;
  pointer-events: none;
  overflow: hidden;
}

.landbod{
  display: flex;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f2f2f2;
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  padding-top: 80px;
  border: solid 1px black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home {
  background-color: #f2f2f2;
  border: solid 1px black;
}