.signup-page {
    background-image: url('/public/images/shoppingbg.png');
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup-container {
    background-color: rgb(255, 255, 255);
    top: 20%;
    min-height: 90vh;
    min-width: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    padding-top: 30px;
    border: solid 1px black;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Increase the size of the checkbox */
.custom-checkbox {

    border: 2px solid #000;
    /* Darker and thicker border */
    background-color: grey;
    /* Fill color when checked */
    border-radius: 3px;
    /* Optional: Add rounded corners to the checkbox */
}

.back-btn {
    max-width: 250px;
    position: absolute;
    top: 0;
    left: 0;
}