.card{
  display: flex; /* Use flex display for the card */
  align-items: center; /* Center items vertically within the card */
  margin: 30px;
  width: 35vh;
  height: 270px;
  flex-wrap: nowrap; 
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  transition: border-color 0.3s; /* Add a smooth transition for the border color */
}

.textitem {
  width: 35vh;
  display: -webkit-box;
      -webkit-line-clamp: var(--line-clamp, 1);
      -webkit-box-orient: vertical;
      word-break: var(--word-break, 'none');
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.card > img {
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 80%;
  display: block;
  margin: 0 auto; 
  background-size:cover;
    background-position:50% 50%;
    overflow: hidden;
  border-radius: 5%;
}

.mylist-container {
  position: fixed;
  max-height: 700px; /* Set a maximum height for the scrollable div */
  background-color: #f2f2f2;
  width: 70%;
  height: 100vh;
  left: 15%; /*Set the left position to the same width as the left div*/
}

.card-container {
  height: 100vh;
  flex-grow: 1; /* Allow content to grow and take available space */
  padding: 10px; /* Add padding to separate content from the image */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Allows cards to wrap to the next column when there's not enough horizontal space */
  align-content: flex-start; /* Align content to the top of each column */
  overflow-y: auto; /* Enable vertical scrolling when content overflows */   
}

/* Add hover styles */
.card:hover {
  border-color: #ffa217;
  border-width: 5px;
  border-radius: 5%;
}