.card{
  display: flex; /* Use flex display for the card */
  align-items: center; /* Center items vertically within the card */
  margin: 30px;
  width: 35vh;
  height: 300px;
  flex-wrap: nowrap; 
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  transition: border-color 0.3s; /* Add a smooth transition for the border color */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.textitem {
  max-width: 15vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.card img {
  height: 75%;
  max-width: 100%;
  max-height: 75%;
  display: block;
  margin: 0 auto; 
  background-size:cover;
    overflow: hidden;
  border-radius: 5%;
}

.text-container {
  max-height: 25%;
  display: flex; /* Use flexbox to place the items in a row */
  justify-content:flex-start; /* Vertically center the items */
  flex-direction: column;
  /* Add additional styles as needed, such as margin, padding, or spacing between the items */
}

.text-container p {
  font-size: 12px; /* Adjust the font size for paragraphs as needed */
  margin: 0; /* Remove any default margins */
}

.mylist-container {
  position: fixed;
  max-height: 700px; /* Set a maximum height for the scrollable div */
  background-color: #f2f2f2;
  width: 70%;
  height: 100vh;
  left: 15%; /*Set the left position to the same width as the left div*/
}

.card-container {
  height: 100vh;
  flex-grow: 1; /* Allow content to grow and take available space */
  padding: 10px; /* Add padding to separate content from the image */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Allows cards to wrap to the next column when there's not enough horizontal space */
  align-content: flex-start; /* Align content to the top of each column */
  overflow-y: auto; /* Enable vertical scrolling when content overflows */ 
  background-color: white;  
}

/* Add hover styles */
.card:hover {
  border-color: #ffa217;
  border-width: 5px;
  border-radius: 5%;
}